// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  margin: 0 2.5%;
}

.flex-col {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  margin: 2.5% 2.5% 2.5% 2.5%;

  h2 {
    color: $link-color;
  }

  .fa, .fab, .fas {
    margin-right: 0.3em;
    color: $hover-color;
  }

  .all-content-link {
    font-weight: bold;
    position: relative;

    &:hover {
      color: $text-color;
    }

    &::before {
      background: $selection-color;
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 3px;
    }

    &::after {
      background: $hover-color;
      content: '';
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 0;
      height: 3px;
      transition: width .2s linear;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.recent-list {
  list-style: none;
}

.recent-item {
  display: flex;
  margin-bottom: 30px;

  .item-date {
    flex-grow: 1;
    flex-basis: 0;
  }

  .item-content {
    flex-grow: 2;
    flex-basis: 0;

    h4 {
      margin: 0;
    }
  }
}

.section {
  text-align: center;

  h2 {
    color: $link-color;
    margin-bottom: 0.7%;
  }

  a {
    color: $link-color;
    transition: 0.1s color linear;

    &:hover {
      color: $hover-color;
      transition: 0.1s color linear;
    }
  }
}

.home-call-out {
  padding: 2.5% 5%;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;

  .home-img {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

#vl-border {
  border: 0;
  border-right: 2px solid $border-color;
  margin-bottom: 2.5%;
}