// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  margin: 0 2.5%;
}

.flex-col {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  margin: 2.5% 2.5% 2.5% 2.5%;

  h2 {
    color: $link-color;
  }

  .fa, .fab, .fas {
    margin-right: 0.3em;
    color: $hover-color;
  }
}

.recent-list {
  list-style: none;
}

.recent-item {
  display: flex;
  margin-bottom: 30px;

  .item-date {
    flex-grow: 1;
    flex-basis: 0;
  }

  .item-content {
    flex-grow: 2;
    flex-basis: 0;

    h4 {
      margin: 0;
    }
}
}

#vl-border {
  border: 0;
  border-right: 1px solid $border-color;
}