---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}
  <div class="section">
    <h2>About GO FAIR US</h2>
    <p>Lorem ipsum text about GO FAIR US</p>
  </div>
  <div class="section">
    <h2>Our Goals</h2>
    <p>We have many goals and they are very goal-oriented goals.</p>
  </div>
  <div class="section">
    <img src="../assets/img/Adv_FAIR_Group.jpg" alt="Advancing FAIR in US Atlanta Workshop Group Photo" />
    <p>image here</p>
  </div>
  <div class="flex-row">
    <div class="flex-col">
      <div id="news-section">
        <h2>
          <i class="fa fa-paper-plane"></i>
          News
        </h2>
        <ul class="recent-list">
          {% assign sorted = site.news | sort: "date" | reverse %}
          {% for news in sorted limit:5 %}
          <li class="recent-item">
            <div class="item-date meta">
              {{ news.date | date_to_string }}
            </div>
            <div class="item-content">
              <h4>
                <a href="{{ news.url | prepend: site.baseurl }}">
                  {{ news.title }}
                </a>
              </h4>
              {{ news.excerpt }}
            </div>
          </li>
          {% endfor %}
        </ul>
        <p><a class="all-content-link" href="/news">All News</a></p>
      </div>
    </div>
    <div id="vl-border"></div>
    <div class="flex-col">
      <div id="events-section">
        <h2>
          <i class="fas fa-calendar-alt"></i>
          Events
        </h2>
        <ul class="recent-list">
          {% assign sorted = site.events | sort: "date" %}
          {% for event in sorted limit:3 %}
          <li class="recent-item">
            <div class="item-date meta">
              {{ event.date | date_to_string }}
            </div>
            <div class="item-content">
              <h4>
                <a href="{{ event.url | prepend: site.baseurl }}">
                  {{ event.title }}
                </a>
              </h4>
              {{ event.excerpt }}
            </div>
          </li>
          {% endfor %}
        </ul>
        <p><a class="all-content-link" href="/events">All Events</a></p>
      </div>
      <hr>
      <div id="twitter-section">
        <h2>
          <i class="fab fa-twitter"></i>
          Tweets
        </h2>
        <a class="twitter-timeline" href="https://twitter.com/gofairus?ref_src=twsrc%5Etfw">Tweets by gofairus</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
