---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out home-call-out" style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
    <div class="home-header">
      <p><strong>Our Aim</strong> is to connect FAIR stakeholders and foster a community where FAIR approaches can be shared, discussed, and advanced collaboratively.</p>
      <p><a class="read-more" href="/about">Read More</a></p>
    </div>
  </div>
  {% endif %}
     <div class="flex-col md:flex-wrap">
      <div id="news-section">
        <h2>
          <i class="fa fa-paper-plane"></i>
          News
        </h2>
        <ul class="recent-list">
          {% assign sorted = site.news | sort: "date" | reverse %}
          {% for news in sorted limit:3 %}
          <li class="recent-item">
            <div class="item-date meta">
              {{ news.date | date_to_string }}
            </div>
            <div class="item-content">
              <h4>
                <a href="{{ news.url | prepend: site.baseurl }}">
                  {{ news.title }}
                </a>
              </h4>
              {{ news.excerpt }}
            </div>
          </li>
          {% endfor %}
        </ul>
        <p><a class="all-content-link" href="/news">All News</a></p>
      </div>
    <div id="vl-border"></div>
    <div class="flex-col md:flex-wrap">
      <div id="events-section">
        <h2>
          <i class="fas fa-calendar-alt"></i>
          Events
        </h2>
        <ul class="recent-list">
          {% assign sorted = site.events | sort: "date" | reverse %}
          {% for event in sorted limit:3 %}
          <li class="recent-item">
            <div class="item-date meta">
              {{ event.date | date_to_string }}
            </div>
            <div class="item-content">
              <h4>
                <a href="{{ event.url | prepend: site.baseurl }}">
                  {{ event.title }}
                </a>
              </h4>
              {{ event.excerpt }}
            </div>
          </li>
          {% endfor %}
        </ul>
        <p><a class="all-content-link" href="/events">All Events</a></p>
      </div>
      <hr>
      <div id="twitter-section">
        <h2>
          <i class="fab fa-twitter"></i>
          Tweets
        </h2>
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/gofairus?ref_src=twsrc%5Etfw">Tweets by gofairus</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
